@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Lato:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Silkscreen&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #6D6875;
    background-size: cover;
    cursor: none;
    transition: ease-in-out 0.1s all;
    overflow: hidden;
}
#box{
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    transition: ease-out 0.2s all ;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
    box-shadow: 0px 0px 8px white;
}
#nav{
    height: 10vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area{
    height: 7vw;
    width: 47vw;
    display: flex;
}
.l-left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
#menu{
    height: 5vw;
    width: 5vw;
    margin-top: -23px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#menu i{
    padding: 5px 5px;

}
#name{
    height: 50%;
    width: 30%;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 2.5px;
}
#f-form{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    list-style:none;
}
#f-form h5{
    width: fit-content;
}

#right{
    align-items: flex-end;
    flex-direction: column;
}
#options{
    margin-top: 15px;
    height: 50%;
    width: 40%;
    display: flex;
    font-family: 'Lato', sans-serif;
}
.option{
    height: 100%;
    width: calc((100%)/3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.o-option{
    position: static;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
#mid{
    height: 37vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
}
#gallery{
    top: 5%;
    left: 30%;
    position: relative;
    position: absolute;
    border-radius: 70% 0% 70% 0% ;
    height: 40vw;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./icarius-Lim3NQQ_RZ4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.gall{
    border-radius: 70% 5% 70% 5% ;
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px);
}
.gulli{
    position: absolute;
    height: 70%;
    background-image: url(./icarius-Lim3NQQ_RZ4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
#num{
    height: fit-content;
    width: fit-content;
    font-family: 'Aboreto', cursive;
    color: white;
    font-size: 8vw;
    mix-blend-mode: difference;
    position: absolute;
}
#para{
    position: absolute;
    margin-right: -70vw;
    margin-top: 25vw;
    height: 150px;
    width: 350px;
    color: white;
    /* border: 1px solid cadetblue; */
    padding: 10px 10px;
    mix-blend-mode: color-dodge;
    /* mix-blend-mode: difference; */
}
#heart{
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(./icarius-Lim3NQQ_RZ4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 350px;
    z-index: 999;
    box-shadow: 0px 0px 80px white;
    -webkit-filter: blur(4px);
    transition: ease-out 0.5s all;
}
